* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}

a{  
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
li{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

h4{
    display: flex;
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

img{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    font-size: 24px;
}

button {
    background-color: #3882F6;
    padding: 7px 40px 7px 40px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    border: 0;
}

.header,.footer,.sub-header{
    background-color: #1F2937;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding-left:300px;
    padding-right:300px;
    flex: 1 1 auto;
}

.header-links{
    display: flex;
    font-weight: 900;
    justify-content:center ;
    align-items: center;
    color:#F9FAF8;
    font-size: 24px;
}

.placeholder-text{
    height: 200px;
    width: 500px;
    margin: 20px;
   background-color: #fff;
   padding: 100px;
   border: 10px; ;
   border-color: #3882F6;
   border-style: solid; 
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.logo{
    display: flex;
    font-weight: 900;
    justify-content:center ;
    align-items: center;
    color:#F9FAF8;
    font-size: 24px;
}

.sub-header{  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom:100px;
}

.sub-header-font{
    width: 400px;
   display: block;
   flex: 0 0 50px;  
}

.sub-header-sub{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    flex: 0 0 50px; 
}

.sub-header-image{
    display: flex;
}

.randon-informaton{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 200px;
    margin-right: 200px;
    
}

.image-subtext{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
}

.box-a .box-b .box-c .box-d{
    display: flex;
    justify-content: center;
    align-items: center;
}

div .square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 20px;
   background-color: #1F2937;
   padding: 100px;
   background-r: ;
   border: 10px; ;
   border-color: #3882F6;
   border-style: solid;
   border-radius: 5px;

}

div #a{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 220px;
}

circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.randon-informaton-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2930;
}

.quote-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0 0 auto;
    background-color: #E5E7EB;
    padding-left: 500px;
    padding-right: 500px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
p .quote-author{
    display: flex;
    text-align: end;
    justify-self: end;
    align-items: end;
    padding-left: 300px;
    padding-right: 300px ;
}

p#sign-up-text{
    margin: 0px;
}

.sign-up-a{
    color: #ffffff;
    background-color: #3882F6 ;
}

button#bottom.sign-up-b{
    background-color: #3882F6 ;
    outline-color: white;
    color: #ffffff;
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    width: 200px;

}


.call-to-action{
   
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #3882F6 ;
    padding: 50px;
    border-radius: 15px;
}

.left{
    display: flex;
    flex-direction:column ;
    max-width: 800px;
    border: 5px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

#sign-up-text{
    color: #F9FAF8;
    font-size: 30px;
}