body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    flex-grow: 1;

}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
}

h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.header,.footer,.sub-header{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    color:#F9FAF8;
    font-size: 24px;

}
.sub-header{  
    display: flex;
    justify-content: space-between;

}
  
.sub-header-sub{
    font-size: 18px;
    color: #E5E7EB;
}
.sub-header-image{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.quote-box{
    background-color: #E5E7EB;
}

.sign-up-a{
    color: #F9FAF8;
    background-color: #3882F6 ;
}

.sign-up-b{
    color: #F9FAF8;
    padding: #3882F6 ;
    border: #F9FAF8;
}

.call-to-action{
    background-color: #3882F6 ;
}